site_name: Deutsch Lernen
site_url: https://germayo.com
site_author: Alexandre Mayo

theme:
  name: material
  language: es
  logo: assets/logo.png     # Add logo
  
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
    
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro

  features:
    - navigation.expand
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Willkommen: index.md
  - A1:
    - Einheit 1:
      - Das Alphabet: a1/a1-1/alphabet.md